{% extends 'base.html' %}
{% load static %}
{% load material_filters %}

{% block content %}
<div class="container mt-5 materials-header">
    <h1 class="mb-4">Edit Material</h1>

    <div class="card mb-4 form-container">
        <div class="card-header">
            Update Material Details
        </div>
        <div class="card-body">
            <form method="post" id="materialForm">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <div class="mb-3">
                    <label for="id_name" class="form-label">{{ form.name.label }}</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_tag" class="form-label">{{ form.tag.label }}</label>
                    {{ form.tag|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_crystal_structure" class="form-label">{{ form.crystal_structure.label }}</label>
                    {{ form.crystal_structure|add_class:"form-select" }}
                </div>
                <div class="mb-3">
                    <label for="id_regions" class="form-label">{{ form.regions.label }}</label>
                    {{ form.regions|add_class:"form-control" }}
                </div>

                <!-- Optional Fields Container -->
                <div id="optionalFields" style="display: none;">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_doping_type" class="form-label">{{ form.doping_type.label }}</label>
                            {{ form.doping_type|add_class:"form-select" }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_doping_density" class="form-label">{{ form.doping_density.label }}</label>
                            {{ form.doping_density|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_charge_model" class="form-label">{{ form.charge_model.label }}</label>
                            {{ form.charge_model|add_class:"form-select" }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_doping_ionization_model" class="form-label">{{ form.doping_ionization_model.label }}</label>
                            {{ form.doping_ionization_model|add_class:"form-select" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="id_doping_temperature" class="form-label">{{ form.doping_temperature.label }}</label>
                            {{ form.doping_temperature|add_class:"form-control" }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="id_ionization_energy" class="form-label">{{ form.ionization_energy.label }}</label>
                            {{ form.ionization_energy|add_class:"form-control" }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="id_doping_degeneracy" class="form-label">{{ form.doping_degeneracy.label }}</label>
                            {{ form.doping_degeneracy|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="id_disorder_type" class="form-label">{{ form.disorder_type.label }}</label>
                            {{ form.disorder_type|add_class:"form-select" }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="id_seed" class="form-label">{{ form.seed.label }}</label>
                            {{ form.seed|add_class:"form-control" }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="id_polarization" class="form-label">{{ form.polarization.label }}</label>
                            {{ form.polarization|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3" id="nanotube_indices_container" style="display: none;">
                            <label for="id_nanotube_indices" class="form-label">{{ form.nanotube_indices.label }}</label>
                            {{ form.nanotube_indices|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="id_strain_simulation" class="form-label">{{ form.strain_simulation.label }}</label>
                            {{ form.strain_simulation }}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark mt-3">Update Material</button>
            </form>
        </div>
    </div>
</div>


<script src="{% static 'js/toggle.js' %}"></script>

{% endblock %}